// Navigation code here

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 1rem 0;

  .logo {
    text-decoration: none;
  }
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      a {
          text-decoration: none;
          color: #22283B;
          font-size: 1.6rem;
          padding: 0 15px;
        &:hover {
        }
      }
    }
  }
}
