// Navigation code here

nav {
  position: fixed;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  .flex-center();
  flex-direction: column;
  background-color: rgba(244, 244, 244, 0.9);
  border-bottom: 1px solid darken(#f4f4f4, 5%);

  .logo {
    text-decoration: none;
  }
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      a {
          text-decoration: none;
          color: #22283B;
          font-size: 1.6rem;
          padding: 0 15px;
        &:hover {
        }
      }
    }
  }
}
